:host {
  display: block;
  height: 100dvh;
}

.layout-shell {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--mat-sys-surface);
}

.main-scroll-view {
  flex: 1;
  overflow-y: auto;
  background-color: var(--mat-sys-surface);

  .page-container {
    min-height: 100%;
    background-color: var(--mat-sys-surface);
  }
}
