<div class="standard-list-view">
  <div class="list-container">
    @for (group of groupedListVM(); track group.periodLabel) {
      <div class="week-group">
        <div class="week-group-header">
          <span>Week of {{ group.periodLabel }}</span>
          <span class="item-count">{{ group.items.length }} items</span>
        </div>

        @for (item of group.items; track $index) {
          <div class="item-link non-interactive">
            <div class="item-content">
              <div class="item-info-group">
                <span class="main-text">
                  {{ item.date }}
                  <span class="wash-title">👕 {{ item.title }}</span>
                </span>
              </div>
              <div class="item-status-group">
                <mat-icon class="wash-icon">local_laundry_service</mat-icon>
              </div>
            </div>
          </div>
        } @empty {
          @if (!washLogService.loading()) {
            <div class="empty-placeholder">No items found.</div>
          }
        }
      </div>
    }
    <footer
      class="list-footer"
      [hidden]="
        washLogService.loading() || washLogService.washLogs().length === 0
      "
    >
      <div class="divider"></div>
      <span class="count-text"
        >TOTAL {{ washLogService.washLogs().length }} ITEMS</span
      >
      @if (washLogService.loading()) {
        <mat-spinner diameter="16"></mat-spinner>
      }
    </footer>
  </div>
</div>
