@if (hub; as config) {
  <div class="hub-container">
    <div class="launcher-grid">
      @for (link of config.links; track link.route) {
        <article class="launcher-tile">
          <span class="launcher-icon">
            @if (link.image) {
              <img [src]="link.image" alt="" />
            } @else {
              <mat-icon>{{ link.icon }}</mat-icon>
            }
          </span>
          <a class="launcher-title" [routerLink]="link.route">{{
            link.title
          }}</a>
        </article>
      }
    </div>
  </div>
}
