<div class="calendar-full-screen">
  <div class="calendar-toolbar">
    <div class="toolbar-nav">
      <button mat-stroked-button (click)="goToToday()">Today</button>
      <div class="nav-arrows">
        <button mat-icon-button (click)="previous()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <h2 class="toolbar-title">{{ viewDate() | date: "MMM yyyy" }}</h2>
    </div>
  </div>

  <div class="calendar-body">
    <mwl-calendar-month-view
      [viewDate]="viewDate()"
      [events]="calendarEventsVM()"
      [cellTemplate]="customCellTemplate"
      [headerTemplate]="customHeaderTemplate"
    ></mwl-calendar-month-view>

    <ng-template #customHeaderTemplate let-days="days" let-locale="locale">
      <div class="cal-custom-header">
        @for (day of days; track day.day) {
          <div class="cal-header-cell">
            {{ day.date | date: dayFormat() }}
          </div>
        }
      </div>
    </ng-template>

    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-custom-cell">
        <div class="cell-date-wrapper">
          <span
            class="cell-date"
            [class.is-today]="day.isToday"
            [style.opacity]="day.inMonth ? 1 : 0.4"
          >
            {{ day.date | date: "d" }}
          </span>
        </div>

        <div class="cell-events-wrapper">
          @for (event of day.events; track $index) {
            <div class="event-badge">{{ event.title }}</div>
          }
        </div>
      </div>
    </ng-template>
  </div>
</div>
