<div class="portal-shell">
  <mat-toolbar class="portal-toolbar">
    <div class="toolbar-content">
      <div class="brand">
        <img src="/icons/3d/filelink.png" alt="" class="brand-mark" />
        <span>Filelink</span>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-btn">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>
          {{ (userProfile() | tyDisplayName) || "使用者" }}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onSignOut()">
          <mat-icon>logout</mat-icon>
          <span>登出</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <main class="portal-main">
    <router-outlet></router-outlet>
  </main>
</div>
