:host {
  display: contents;
}

.logo-box {
  pointer-events: none;
  user-select: none;
  opacity: 1;
  transition: opacity 0.4s ease;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &.natural img {
    width: auto;
  }

  &.off {
    opacity: 0;
  }
}
