<div class="explorer-container">
  <div class="explorer-breadcrumbs">
    <button
      mat-icon-button
      (click)="goToLevel(-1)"
      class="crumb-home"
      [class.active]="currentPath().length === 0"
    >
      <mat-icon>home</mat-icon>
    </button>

    @for (segment of currentPath(); track $index; let i = $index) {
      <mat-icon class="crumb-separator">chevron_right</mat-icon>
      <button
        mat-button
        class="crumb-btn"
        (click)="goToLevel(i)"
        [class.active]="i === currentPath().length - 1"
      >
        {{ segment }}
      </button>
    }
  </div>

  <div class="explorer-body">
    @if (filelinkService.loading()) {
      <div class="state-container">
        <mat-spinner diameter="32"></mat-spinner>
      </div>
    } @else {
      @for (folder of currentFolderContent().folders; track folder) {
        <button
          mat-ripple
          class="explorer-item folder"
          (click)="enterFolder(folder)"
        >
          <div class="item-icon-wrapper">
            <mat-icon class="folder-icon">folder</mat-icon>
          </div>
          <div class="item-name">{{ folder }}</div>
          <mat-icon class="item-action">chevron_right</mat-icon>
        </button>
      }

      @for (
        file of currentFolderContent().files;
        track file.tb_tyapp_fl_item_id
      ) {
        <button
          mat-ripple
          class="explorer-item file"
          (click)="viewFile(file.tb_tyapp_fl_item_id)"
        >
          <div class="item-icon-wrapper">
            <mat-icon class="file-icon">description</mat-icon>
          </div>
          <div class="item-details">
            <div class="item-name">{{ file.displayTitle }}</div>
            <div class="item-meta">
              <mat-icon
                style="
                  font-size: 14px;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
                >group</mat-icon
              >
              <span>{{ file.displaySharedWith }}</span>

              <span
                class="status-dot"
                [class.inactive]="file.status === 0"
                style="margin-left: 8px"
              ></span>
              <span>{{ file.status === 1 ? "Active" : "Inactive" }}</span>
            </div>
          </div>
          <mat-icon class="item-action">edit</mat-icon>
        </button>
      }

      @if (
        currentFolderContent().folders.length === 0 &&
        currentFolderContent().files.length === 0
      ) {
        <div class="state-container">
          <p>This directory is empty.</p>
          <span class="hint">Click "+ New Link" to add a file here.</span>
        </div>
      }
    }
  </div>
</div>
